@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  @layer components {
    h2 {
      @apply text-purple-600 font-bold text-[24px] leading-[36px] mb-6 mt-[60.28px];
    }

    a {
      @apply cursor-pointer;
    }
  }
}
